<h3><%= t('views.common.new_comment')%></h3>

<%= form_with(model: [commentable, Comment.new]) do |f| %>
  <div class="field">
    <%= f.text_area :content, required: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
